*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
	letter-spacing: 2px;
}
.head{
	width:1200px;
	margin:10px auto;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}
.logo{
	width: 300px;
	margin:20px auto;
	text-align: center;
}
.logo>a>img{
	width:70px;
	
}
.logo>h4{
	font-size:24px;
	font-weight: normal;
}
.logo>p{
	width:225px;
	height:25px;
	line-height: 25px;
	border-top:1px solid #ccc ;
	border-bottom:1px solid #ccc ;
	color:#ccc;
	font-size: 14px;
	margin:5px auto;
}
